.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.936); /* Semi-transparent background */
  z-index: 9999; /* Ensure it's above other content */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.3); /* Light border color */
  border-radius: 50%;
  border-top-color: #ffffff; /* White top border */
  animation: spin 1s linear infinite; /* Rotate animation */
}

@keyframes spin {
  to {
    transform: rotate(360deg); /* Full rotation */
  }
}

.hidden {
  display: none; /* Hide spinner when not loading */
}









