
<div class="donation-container bg-light shadow-lg w-100  mb-5" [ngClass]="{ 'arabic-content': applyArabicClass()}">
  <div class="mb-2  px-5 text-center" [ngClass]="{ 'd-flex flex-row-reverse justify-content-center': applyArabicClass()}">
        <button (click)="donateBlood()"  class="btnLeft bloodbtn">
          {{ 'DONATE_BLOOD' | translate }}
        </button>
        <button (click)="donatePlasma()"  class="btnRight plasmabtn">
          {{ 'DONATE_PLASMA' | translate }}
        </button>
      </div>

      <div class="header" *ngIf="BloodHeader">
        <div class="title my-2">
        <!-- <img src="assets/imgs/icon.ico" alt="Life Blood Image"> -->
        <h1 class=" mt-3  ms-3" [innerHTML]="'BLOOD_DONATION_TITLE' | translate"></h1>
        </div>
        <p class="lead text-muted fs-5">{{ 'BLOOD_NOTE' | translate }}</p>
      </div>

      <div class="header" *ngIf="!BloodHeader">
        <div class="title my-2">
        <!-- <img src="assets/imgs/icon.ico" alt="Life Blood Image"> -->
        <h1 class=" mt-3  ms-3" [innerHTML]="'PLASMA_DONATION_TITLE' | translate"></h1>
        </div>
        <p class="lead text-muted fs-5">{{ 'PLASMA_NOTE' | translate }}</p>
      </div>

  <form [formGroup]="donationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <!-- <label for="hospitalCenter">Hospital Center:</label> -->
      <select formControlName="hospitalCenter" id="hospitalCenter">
        <option [ngValue]="null" selected disabled>{{ 'HOSPITAL_NAME' | translate }}</option>
        <!-- <option *ngFor="let hospital of hospitals" [value]="hospital">{{ hospital }}</option> -->
        <option *ngFor="let hospital of hospitals" [ngValue]="hospital.name.ar" [ngClass]="{ 'd-none': !applyArabicClass()}">{{ hospital.name.ar }}</option>
        <option *ngFor="let hospital of hospitals" [ngValue]="hospital.name.en" [ngClass]="{ 'd-none': applyArabicClass()}">{{ hospital.name.en }}</option>
      </select>
    </div>
    <div class="form-group">
      <!-- <label for="date">Date:</label> -->
      <input type="date" formControlName="date" id="date">
    </div>
    <div class="form-group">
      <!-- <label for="hour">Hour:</label> -->
      <input type="time" formControlName="hour" id="hour">
    </div>
    <input class="fs-5 w-100 ps-3 p-2 bg-gray rounded border-0 d-none" type="text" formControlName="nationalId" value="{{personalNationalId}}" [innerText]="personalNationalId">
    <button type="submit" class="submitbtn"  [class.button1]="BloodHeader" [class.button2]="!BloodHeader"> {{ 'DONATE_BUTTON' | translate }}</button>
  </form>
  <div *ngIf="message" class="success-message">{{ message }}</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>



