<!-- ForgettingPassword.component.html -->
<section class="">
  <div class="container p-5 d-flex justify-content-center align-content-center"  [ngClass]="{ 'arabic-content': applyArabicClass()}">
    <div class="p-5 m-5 w-75 shadow-lg ">

     <div *ngIf="step1">
      <p class="text-center h2  p-4 Password">{{ 'ForgetPassword' | translate }}</p>
      <p class="text-muted text-center lead fw-normal h3 px-5 py-2 fs-4">
      {{ 'EnterEmail' | translate }}
      </p>



    <!-- enter code -->
    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
      <input  formControlName="email" class=" bg-transparent  form-control mt-3 p-2 rounded-3 fs-5" type="email"  [placeholder]="!applyArabicClass() ? 'Email *': 'البريد الالكتروني *'"
        required><br>

      <button id="sendButton" class="form-control text-white p-2 fs-5 rounded-3" type="submit">{{ 'Send' | translate }}</button><br>
      <button id="backLoginButton" class="form-control rounded-3  p-1  fs-5" (click)="goToLogin()">{{ 'BackToLogin' | translate }}</button>
          <br>
    </form>
    </div>







    <!-- Reset Password Rewan-->
     <div *ngIf="step2">
      <!-- header -->
      <p class=" text-center h2 Password">{{ 'ResetPassword' | translate }}</p>
      <br>


      <!-- form -->
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetCode()">
        <input class="form-control mt-3 p-2 rounded-3 fs-5" type="text" formControlName="code"  [placeholder]="!applyArabicClass() ? 'Enter code *': 'أدخل الرمز *'" required /><br>
        <input class="form-control mt-3 p-2 rounded-3 fs-5" type="password" formControlName="newPassword" [placeholder]="!applyArabicClass() ? 'New Password *': 'كلمة المرور الجديدة *'" required /><br>
        <div *ngIf="resetError" class="error-message">
          {{ resetError }}
        </div>
        <button id="doneButton" class="form-control text-white p-2 fs-5 mt-1" type="submit">{{ 'Reset' | translate }}</button><br>
        <button id="resendButton" class="form-control p-2 fs-5" (click)="goToLogin()">{{ 'BackToLogin' | translate }}</button><br>
      </form>

      <br>
    </div>
    </div>
  </div>
</section>
