.gradient-text {
  background: linear-gradient(180deg, #EA4444 19.27%, #5E0404 74.48%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.arabic-content{
  direction: rtl;
  font-family: 'Arial', sans-serif;
}
.header{
  display: flex;
}
.header img{
  width: 70px;
}
.error-message , .Password{
  color:var(--main-color);

}
#sendButton{
  background-color: var(--main-color);
}
#backLoginButton{
  color: var(--main-color);
  border-color: var(--main-color);

}


input::placeholder{
  color: rgba(128, 128, 128, 0.675);
}









/* verification css */

.gradient-text {
  background: linear-gradient(180deg, #EA4444 19.27%, #5E0404 74.48%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.header{
  display: flex;
}
.header img{
  width: 70px;
}
.error-message{
  color:var(--main-color);

}
#doneButton{
  background-color: var(--main-color);
}
#resendButton{
  color: var(--main-color);
  border: var(--main-color) 1px solid;
}





/* reset css  */
.gradient-text {
  background: linear-gradient(180deg, #EA4444 19.27%, #5E0404 74.48%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.header{
  display: flex;
}
.header img{
  width: 70px;
}
.error-message{
  color:var(--main-color);

}
#restButton{
  background-color: var(--main-color);
}
#backLoginButton{
  color: var(--main-color);
  border-color: var(--main-color);

}

input::placeholder{
  color: rgba(128, 128, 128, 0.675);
}
.error-message{
  color: var(--main-color);
}
