<!-- ForgettingPassword.component.html -->
<section class="shadow">
  <div class="container p-5 d-flex justify-content-center align-content-center">
    <div class="p-5 m-5 w-75">
      <div class="header">
        <img src="assets/imgs/icon.ico" alt="Life Blood Image">
        <h2 class="gradient-text mt-3 ms-3">Health Hub</h2>
      </div>


      <!-- div of ForgettingPassword -->


     <div *ngIf="step1">
      <p class="text-center h2  p-4">Forget Password</p>
      <p class="text-muted text-center lead h3 px-5 py-2 fs-4">
      Enter the email you used to create your account so we can send you a code to reset your password
      </p>



    <!-- enter code -->
    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
      <input  formControlName="email" class="form-control mt-3 p-2 rounded-3 fs-5" type="email"  placeholder="Email"
        required><br>

      <button id="sendButton" class="form-control text-white p-1 fs-5 rounded-3" type="submit">Send</button><br>
      <button id="backLoginButton" class="form-control rounded-3  p-1  fs-5" (click)="goToLogin()">Back to Login</button>
          <br>
    </form>
    </div>







    <!-- Reset Password Rewan-->
     <div *ngIf="step2">
      <!-- header -->
      <p class="text-center h2">Reset Password</p>
      <p class="text-muted text-center lead h3 px-5 py-2 fs-4">
        We have sent a code to email {{ email }} please check your email and enter code below and Your new Password
      </p>

      <!-- form -->
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetCode()">
        <input class="form-control mt-3 p-2" type="text" formControlName="code" placeholder="Enter code *" required /><br>
        <input class="form-control mt-3 p-2 rounded-3 fs-5" type="password" formControlName="newPassword" placeholder="New Password *" required /><br>
        <div *ngIf="resetError" class="error-message">
          {{ resetError }}
        </div>
        <button id="doneButton" class="form-control text-white p-2 fs-5" type="submit">Reset</button><br>
        <button id="resendButton" class="form-control p-2 fs-5" (click)="goToLogin()">Back To Login</button><br>
      </form>

      <br>
    </div>
    </div>
  </div>
</section>
