body {
  background-color: #f8f9fa;
}
.text-center{
  color: var(--main-color);
  margin:30px ;
}
.container {
  margin-top: 50px;
  box-sizing: border-box;
}
.arabic-content{
  direction: rtl;
  font-family: 'Arial', sans-serif;
}
input{
  margin: 50px 0 50px 0;
}
button{
  background-color: var(--main-color);
}
.card {
  padding: 20px;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alert {
  margin-top: 20px;
}

.img-thumbnail {
  max-width: 100%;
  height: auto;
}
