
<footer class="container text-start  mt-5 p-5 ">
  <div class="">
    <div class="row container ms-5 ">
      <div class="col">
        <h5 class="fw-bold">Compony Info</h5> <br>
        <p class="fw-semibold lead text-muted text-black-50 fw-light">About Us</p>
        <p class="fw-semibold lead text-muted  text-black-50 fw-light">Carrier</p>
        <p class="fw-semibold lead text-muted  text-black-50 fw-light">We are hiring</p>
        <p class="fw-semibold lead text-muted  text-black-50 fw-light">Blog</p>
      </div>
      <div class="col ">
        <h5 class="fw-bold">Legal</h5><br>

        <p class="fw-semibold lead text-muted text-black-50 fw-light">About Us</p>
        <p class="fw-semibold lead text-muted text-black-50 fw-light">Carrier</p>
        <p class="fw-semibold lead text-muted text-black-50 fw-light">We are hiring</p>
        <p class="fw-semibold lead text-muted text-black-50 fw-light">Blog</p>
      </div>
      <div class="col ">
        <h5 class="fw-bold ">Features</h5><br>
        <p class=" fw-semibold lead text-muted text-black-50 fw-light">Business Mark</p>
        <p class="fw-semibold lead text-muted text-black-50 fw-light">User Analytic</p>
        <p class="fw-semibold lead text-muted text-black-50 fw-light">Live Chat</p>
        <p class="fw-semibold lead text-muted text-black-50 fw-light">Unlimited Sup</p>
      </div>


      <!-- <div class="col ">
        <h5 class="fw-bold">Features</h5>
        <p class="fw-bold text-black-50 fw-light">Business Mark</p>
        <p class="fw-bold text-black-50 fw-light">User Analytic</p>
        <p class="fw-bold text-black-50 fw-light">Live Chat</p>
        <p class="fw-bold text-black-50 fw-light">Unlimited Sup</p>
      </div> -->


      <div class="col ">
        <h5 class="fw-bold">Resources</h5><br>
        <p class="fw-semibold lead text-muted text-black-50  fw-light ">IOS & Android</p>
        <p class="fw-semibold lead text-muted text-black-50  fw-light">Watch A Demo</p>
        <p class="fw-semibold lead text-muted text-black-50  fw-light">Customers</p>
        <p class="fw-semibold lead text-muted text-black-50  fw-light">API</p>
      </div>
      <div class="col">
        <h5 class="fw-bold">Get In Touch</h5><br>
        <div class="d-flex  ">
          <i class="icon2 fa-solid fa-phone fs-5"></i>
          <p class="fw-bold text-black-50 ms-1  fw-light"> (480)555-0103</p>
        </div>
        <div class="d-flex ">
          <i class="icon2 fa-solid fa-location-dot fs-5"></i>
          <p class="fw-bold text-black-50 ms-1  fw-light"> 4517 Washington Ave . Manchester , Kentucky 39495</p>
        </div>
        <div class="d-flex ">
          <i class=" icon2 fa-solid fa-envelope fs-5"></i>
          <p class="fw-bold text-black-50 ms-1  fw-light"> debra.holt&#64;example.com</p>
        </div>

      </div>

    </div>
  </div>

  <div class="d-flex justify-content-around container  mt-5">
    <div class=" w-50 ">
      <p class="lead text-muted fw-bolder"> Made With Love By <span>Vampires</span></p>
    </div>
    <div class=" w-10 d-flex justify-content-between">
      <i class="fs-3 icon3 fa-brands fa-facebook"></i>
      <i class="fs-3 icon3 fa-brands fa-instagram"></i>
      <i class="fs-3 icon3 fa-brands fa-twitter"></i>
    </div>
  </div>
</footer>
