<footer class=" text-start container    mt-5 p-5" [ngClass]="{ 'arabic-content': applyArabicClass() }">
  <div class="row">
    <!-- Company Info -->
    <div class="col-md col-sm-6 mb-5">
      <h5 class="fw-bold">{{ 'ComponyInfo' | translate }}</h5> <br>
      <p class="fw-semibold lead text-muted text-black-50 fw-light">{{ 'AboutUs' | translate }}</p>
      <p class="fw-semibold lead text-muted text-black-50 fw-light">{{ 'Carrier' | translate }}</p>
      <p class="fw-semibold lead text-muted text-black-50 fw-light">{{ 'WeAreHiring' | translate }}</p>
      <p class="fw-semibold lead text-muted text-black-50 fw-light">{{ 'Blog' | translate }}</p>
    </div>

    <!-- Legal -->
    <div class="col-md col-sm-6 mb-5">
      <h5 class="fw-bold">{{ 'Legal' | translate }}</h5><br>
      <p class="fw-semibold lead text-muted text-black-50 fw-light">{{ 'AboutUs' | translate }}</p>
      <p class="fw-semibold lead text-muted text-black-50 fw-light">{{ 'Carrier' | translate }}</p>
      <p class="fw-semibold lead text-muted text-black-50 fw-light">{{ 'WeAreHiring' | translate }}</p>
      <p class="fw-semibold lead text-muted text-black-50 fw-light">{{ 'Blog' | translate }}</p>
    </div>

    <!-- Features -->
    <div class="col-md col-sm-6 mb-5">
      <h5 class="fw-bold">{{ 'Features' | translate }}</h5><br>
      <p class="fw-semibold lead text-muted text-black-50 fw-light">{{ 'BusinessMark' | translate }}</p>
      <p class="fw-semibold lead text-muted text-black-50 fw-light">{{ 'UserAnalytic' | translate }}</p>
      <p class="fw-semibold lead text-muted text-black-50 fw-light">{{ 'LiveChat' | translate }}</p>
      <p class="fw-semibold lead text-muted text-black-50 fw-light">{{ 'UnlimitedSup' | translate }}</p>
    </div>

    <!-- Resources -->
    <div class="col-md col-sm-6 mb-5">
      <h5 class="fw-bold">{{ 'Resources' | translate }}</h5><br>
      <p class="fw-semibold lead text-muted text-black-50 fw-light">{{ 'IOS&Android' | translate }}</p>
      <p class="fw-semibold lead text-muted text-black-50 fw-light">{{ 'WatchADemo' | translate }}</p>
      <p class="fw-semibold lead text-muted text-black-50 fw-light">{{ 'Customers' | translate }}</p>
      <p class="fw-semibold lead text-muted text-black-50 fw-light">{{ 'API' | translate }}</p>
    </div>

    <!-- Get In Touch -->
    <div class="col-md col-sm-6 mb-5">
      <h5 class="fw-bold">{{ 'GetInTouch' | translate }}</h5><br>
      <div class="d-flex align-items-start">
        <i class="icon2 fa-solid fa-phone fs-5"></i>
        <p class="fw-bold text-black-50 ms-1 fw-light">(480)555-0103</p>
      </div>
      <div class="d-flex align-items-start">
        <i class="icon2 fa-solid fa-location-dot fs-5"></i>
        <p class="fw-bold text-black-50 ms-1 fw-light">{{ 'OurAddress' | translate }}</p>
      </div>
      <div class="d-flex align-items-start">
        <i class="icon2 fa-solid fa-envelope fs-5"></i>
        <p class="fw-bold text-black-50 ms-1 fw-light">debra.holt&#64;example.com</p>
      </div>
    </div>
  </div>

  <!-- Footer Bottom -->
  <div class="d-flex justify-content-between container mt-5">
    <div class="w-50">
      <p class="lead text-muted fw-bolder"> Made With Love By <span>Vampires</span></p>
    </div>
    <div class="w-10 d-flex justify-content-between">
      <i class="fs-3 icon3 fa-brands fa-facebook"></i>
      <i class="fs-3 icon3 fa-brands fa-instagram"></i>
      <i class="fs-3 icon3 fa-brands fa-twitter"></i>
    </div>
  </div>
</footer>
