<div class="custom-footer mt-4">
  <div class="container">
    <div class="row">
      <!-- About Section -->
      <div class="col-md-3 px-5">
        <div class="footer-section">
          <h4>ABOUT</h4>
          <hr class="custom-hr">
        </div>
        <p>LifeHub, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going
          through the cites of the word in classical literature, discovered the undoubtable source.</p>
      </div>

      <!-- Updates News Section -->
      <div class="col-md-3 px-5">
        <div class="footer-section">
          <h4>UPDATES NEWS</h4>
          <hr class="custom-hr">
        </div>
        <p>Which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be
          sure there isn't anything.</p>
      </div>

      <!-- Donation Section -->
      <div class="col-md-3 px-5">
        <div class="footer-section  d-flex justify-content-center">
          <h4>DONATION</h4>
          <hr class="custom-hr">
        </div>
        <ul class="list-unstyled">
          <li class="ms-4"><a routerLink="/home">Home</a></li>
          <li class="ms-4"><a routerLink="/faqs">FAQs</a></li>
          <li class="ms-4"><a routerLink="/service">Services</a></li>
          <li class="ms-4"><a routerLink="/home">Project</a></li>
          <li class="ms-4"><a routerLink="/home">Blood Overview</a></li>
          <li class="ms-4"><a routerLink="/report">Liver Test</a></li>
        </ul>
      </div>

      <!-- Newsletter Section -->
      <div class="col-md-3 px-5">
        <div class="footer-section">
          <h4>NEWSLETTER</h4>
          <hr class="custom-hr">
        </div>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Email">
          </div>
          <button type="submit" class="btn btn-warning mt-2">SUBSCRIBE</button>
        </form>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col text-center">
        <a href="http://localhost:4200/home"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="http://localhost:4200/home"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="http://localhost:4200/home"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="http://localhost:4200/home"><i class="fab fa-instagram fa-2x"></i></a>
      </div>
    </div><br>


    <div class="d-flex justify-content-center">
      <p>© 2024 All Rights Reserved. Design by <span class="BloodTitle">Vampires</span></p>
    </div>
  </div>
</div>
