.gradient-text {
  background: linear-gradient(180deg, #EA4444 19.27%, #5E0404 74.48%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.header{
  display: flex;
}
.header img{
  width: 70px;
}
.error-message{
  color:red;

}
#doneButton{
  background-color: var(--main-color);
}
#resendButton{
  color: black;
}
