<!-- verification.component.html -->
<section>
  <div class="container p-5 d-flex justify-content-center align-content-center">
    <div class="p-5 m-5 w-75">
      <div class="header">
        <img src="assets/imgs/icon.ico" alt="Life Blood Image">
        <h2 class="gradient-text mt-3 ms-3">Health Hub</h2>
      </div>
      <p class="text-center h2">Check Your Email</p>
      <p class="text-muted text-center lead h3 px-5 py-2 fs-4">
        We have sent a code to email {{ email }}
        please check your email and enter code below
      </p>


      <!-- enter code form -->
        <form [formGroup]="verificationForm">
          <div class="mb-3">
            <label for="token" class="form-label">Enter Code *</label>
            <input class="form-control" type="text" required formControlName="token" placeholder="token*">
            <div *ngIf="verificationForm.get('token')?.invalid && verificationForm.get('token')?.touched" class="invalid-feedback">
              Token is required.
            </div>
          </div>

          <!-- error -->
          <div *ngIf="errorMessage" class="error-message">
            <p class="text-danger">{{ errorMessage }}</p>
          </div>

          <!-- resend code message -->
          <div *ngIf="resendverificationCodeSentMessage" class="verification-message">
            {{ resendverificationCodeSentMessage }}
          </div>


          <div class="mb-3">
            <button id="doneButton" class="btn btn-primary" type="button" (click)="enterTokenVerify()">Done</button>
          </div>

          <div class="mb-3">
            <button id="resendButton" class="btn btn-secondary" type="button" (click)="resendVerificationCode()">Resend Code</button>
          </div>
        </form>

    </div>
  </div>
</section>
