<header>
  <div class="container2">
    <div class="nav2">
      <div>
        <div class="logo">
          <img src="https://s3-alpha-sig.figma.com/img/9e1b/d7aa/7d07f331b50fc08957ccf68462e6da10?Expires=1713744000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=IG46BDgQLIAmnSPt8rFvwAXd~raWpjYK7sJNLi78ds80KcfVWN7kmiMpcRgOcdvXKgZZFecGvmP6N4QZwwp~x0c-ut7xudvzp4-xQMZGQ9M0mJg1NA1n6OngBjTSKecBrwR~U4Hel9ICtY0Ok4xz6lcUeYZ3Y7uBy8O2WS62tyXJNPXRuF66UMBdwfj46a2YJvwiK9TEpXfgR0WEQGzqULIUp71gJ7atWLMI2cYYeGwKSYeHVJt6209Fj4LLTtqQvlufHqGG8AtK3lU9gkbxsJYwhr3wu4tCHAM3uzXmQr00D4wJ3UvPs~w44Ynxh7SkWyYzJ5GeNNORIdzHX7TDFQ__" class="logo" alt="" routerLink="/home.component">
          <h3 class="mt-2">Life<span>h</span>ub</h3>
        </div>
      </div>
      <div class="navMenue">
        <div>
          <div class="menu-icon" (click)="openMenu()">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="menu" [class.menuClass]="menuVariable">
            <ul class="">
              <li class=""><a class="" routerLink="/home" routerLinkActive="active">Home</a></li>
              <li class=""><a class="" routerLink="/service" routerLinkActive="active">Services</a></li>
              <li class=""><a class="" routerLink="/requestDonation" routerLinkActive="active">Search A Donor</a></li>
              <li class=""><a class="" routerLink="/report" routerLinkActive="active">Report</a></li>
              <li class=""><a class="" routerLink="/about" routerLinkActive="active">About</a></li>
              <li class=""><a class=""  routerLink="/profile" routerLinkActive="active">My Profile</a></li>
              <li id="join" class="hidden"><a class="hidden"  routerLink="/login" routerLinkActive="active" >join</a></li>
              <li id="book" class="hidden"><a class="hidden" href="#Book" routerLink="/donation"
                  routerLinkActive="active">Book Now <i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>

        <ul class="join-menue hidden2">
          <!-- <li id="join"><a class="" href="#join" routerLink="/login" routerLinkActive="active">join</a></li> -->
          <li id="book"><a class="" href="#Book" routerLink="/donation" routerLinkActive="active">Book Now <i
                class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>


