<section>
  <div class="container shadow-lg bg-light my-5 py-5 d-flex justify-content-center align-content-center" [ngClass]="{ 'arabic-content': applyArabicClass()}">
   <div class="container  w-65 ">
    <!-- <div class="header">
      <img src="assets/imgs/icon.ico" alt="Life Blood Image">
      <h2 class="gradient-text mt-3  ms-3">LIFEBLOOD</h2>
    </div> -->
    <p class="h2 text-center createAccount">{{ 'CreateAccount' | translate }}</p>
    <p class="text-mute lead fs-4  text-center py-2">{{ 'WelcomeToSignUp' | translate }}</p>
    <div id="register" class="d-flex justify-content-between mx-3">
      <p class="h3 fw-bold">{{ 'Required field' | translate }}</p>
      <p class=" fw-bold">{{ 'Register' | translate }}</p>
    </div>
    <!-- <form [formGroup]="signupForm" (ngSubmit)="signup()"> -->
    <form [formGroup]="signupForm">
    <div class="d-flex justify-content-between my-3">
      <label class="fw-bold" for="">{{ 'HaveDonorNumber?' | translate }}</label>
      <div class="d-flex justify-content-between">
        <div class="me-5">
          <input  type="checkbox" formControlName="donarYes">
          <label class="text-muted ms-2" for="yes">{{ 'Yes' | translate }}</label>
        </div>

        <div class="me-5">
          <input type="checkbox" formControlName="donarNo">
          <label class="text-muted ms-2" for="No">{{ 'No' | translate }}</label>
        </div>
      </div>
    </div>
    <input class="form-control border-0 p-2" type="email" required formControlName="email"  [placeholder]="!applyArabicClass() ? 'Email *': 'البريد الالكتروني *'" autocomplete="username"><br>
    <input class="form-control border-0 p-2" type="password" required formControlName="password"  [placeholder]="!applyArabicClass() ? 'password*': 'كلمة السر*'" autocomplete="current-password"><br>
    <input class="form-control border-0 p-2" type="password" required formControlName="confirmPassword"  [placeholder]="!applyArabicClass() ? 'confirm Password *': 'تأكيد كلمة المرور*'" autocomplete="current-password"><br>
    <input class="form-control border-0 p-2" type="text" formControlName="userName" [placeholder]="!applyArabicClass() ? 'User Name *': 'اسم المستخدم*'" > <br>
    <input class="form-control border-0 p-2" type="text" formControlName="BloodBank"  [placeholder]="!applyArabicClass() ? 'Blood Bank *': 'بنك الدم*'">
    <label class="my-3 text-muted fw-bold" for="">{{ 'nameOfBloodBank' | translate }}</label><br>
    <select name="location" id="location" required class="form-control border-0 p-2" formControlName="city">
      <option value="" disabled selected>{{ 'location' | translate }}</option>
      <option value="Cairo">{{ 'Alex' | translate }}</option>
      <option value="Alex">{{ 'Cairo' | translate }}</option>
      <option value="Tanta">{{ 'Tanta' | translate }}</option>
    </select>
    <label class="my-3 text-muted fw-bold" for="">{{ 'NearestBloodDonationCenter' | translate }}</label><br>
    <input class=" mb-3 p-2 form-control border-0" required type="date" formControlName="birthDate">
    <select class="form-control border-0 p-2" name="gender" id="gender" formControlName="gender">
      <option value="" disabled selected>{{ 'Gender' | translate }}</option>
      <option value="Male">{{ 'Male' | translate }}</option>
      <option value="Female">{{ 'Female' | translate }}</option>
    </select><br>
    <input class="form-control border-0 p-2" type="tel" formControlName="phoneNumber"  [placeholder]="!applyArabicClass() ? 'Mobile Number*': ' رقم الهاتف *'" [ngClass]="{ 'arabic-content': applyArabicClass()}"> <br>
    <input class="form-control border-0 p-2" type="tel" formControlName="nationalID"  [placeholder]="!applyArabicClass() ? 'National ID*': ' الرقم القومي *'" [ngClass]="{ 'arabic-content': applyArabicClass()}">
    <p class="text-muted mt-2 fw-bold">{{ 'MessageNotToForget' | translate }}</p>
    <input class="border" type="checkbox" formControlName="agreeOnTerms">
    <label id="AgreeOnConditions" class="ms-3 fw-bold" for="AgreeOnTerms">{{ 'Agree' | translate }}<a
        href="">{{ 'PrivacyPolicy' | translate }}</a> {{ 'and' | translate }} <a href="">{{ 'PrivacyStatement' | translate }}</a> {{ 'above.' | translate }}</label><br><br>
    <input type="checkbox" formControlName="notRobot">
    <label class=" ms-3 fw-bold" for="notRobot">{{ 'notARobot' | translate }}</label><br>

    <!-- General error message -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <br>


    <button id="SignUpButton" class="form-control p-2 text-white my-2" type="button" [disabled]="sendingVerificationCode" (click)="signup()">{{ 'SignUp' | translate }}</button>
    <div *ngIf="sendingVerificationCode">{{ 'verificationCode' | translate }}</div>
    </form>
    <p class="text-center text-muted lead fw-bold">{{ 'HaveAccount?' | translate }}<a class=" fw-bold" id="loginLink" routerLink="/login">{{ 'loginNow' | translate }}</a></p>

  </div>
  </div>
</section>
