#SignUpButton{
  background-color: var(--main-color);
}
#loginLink,#register ,#AgreeOnConditions a{
  color: var(--main-color);
}
.w-65{
  width: 65%;
}
.arabic-content{
  direction: rtl;
  font-family: 'Arial', sans-serif;
}
#AgreeOnConditions{
  width: 90%;
  vertical-align: -6px;
}
.gradient-text {
  background: linear-gradient(180deg, #EA4444 19.27%, #5E0404 74.48%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.header{
  display: flex;
}
.header img{
  width: 70px;
}
.error-message , .createAccount{
  color: var(--main-color);
}
