*{
  padding: 0;
  margin: 0;
}
.home,.whyDonate{
  background-color:#FFF2F3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-section, .right-section{
  width: 45%;
}
.right-section svg{
  width: 90%;
}
.left-section h3{
  color: #E74040;
}
.left-section h1{
  font-weight: 500;
  font-size: 80px;
  margin-top: 15px;
  margin-bottom: 40px;
  color: #252B42;
}
.left-section h4{
  width: 400px;
  color:#737373;
  text-align: justify;
  margin-bottom: 50px;
  font-weight: 400;
}
.left-section .login{
  text-decoration: none;
  border-radius: 5px;
  background-color:#E74040;
  color: white;
  padding:15px 30px;
}
.left-section .more{
  text-decoration: none;
  border-radius: 5px;
  color: #E74040;
  border: 1px solid #E74040;
  background-color:#ffffff;
  padding:15px 30px;
  margin-left: 20px;
}
/* overview */
.overview{
  padding: 59px 195px 59px 195px;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
}
.left-overview hr,.donate hr{
  width: 94px;
  border-top: 3px solid red;
  height: 50px;
  color:red;
}
.left-overview p.donate p{
  margin-bottom: 30px;
}
.left-overview a,.donate a{
  color: var(--primary-text-color, #96BB7C);
  font-family: Montserrat;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.2px;
}
.right-overview{
  display: flex;
  width: 507px;
  align-items: flex-start;
  gap: 35px;
  /* flex-wrap: wrap; */
}
.blood,.plasma{
  display: flex;
  width: 250px;
  padding: 35px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background: #FFF;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
.blood p,.plasma p,.left-section p,.donate p{
  color: var(--second-text-color, #737373);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;

}
.blood hr,.plasma hr{
  width: 50px;
  height: 2px;
  background: var(--danger-color, #E74040);
}
.icon{
  border-radius: 10px;
  background: var(--primary-color, #96BB7C);
  display: flex;
  padding: 22px 19px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.icon svg{
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
/* Donate section */
.imgSec{
  width: 469px;
  height: 549px;
  flex-shrink: 0;
}
.imgSec img{
  width: 90%;
}
.whyDonate{
  padding: 100px 195px 10px 195px;
}
.row2{
  justify-content: space-between;
  flex-wrap: wrap;
}
.whyDonate h1{
  margin-bottom: 50px;
}
.whyDonate p,.left-overview p{
  margin-bottom: 30px;
  line-height: 1.5;
}
/* media query */
@media only screen and (max-width: 1266px){
  .overview{
    padding: 59px 70px 59px 70px;
  }
  .whyDonate{
    padding: 100px 100px 30px 100px;
  }
}
@media only screen and (max-width: 1024px){
  .overview{
    padding: 59px 30px 59px 30px;
  }
  .left-overview {
    margin-bottom: 100px;
  }
  .whyDonate{
    padding: 100px 50px 30px 50px;
  }

}
@media only screen and (max-width: 915px){
  .imgSec{
    width: 350px;
  }
}
@media only screen and (max-width: 550px){
  .right-overview{
    flex-wrap: wrap;
    justify-content: center;
  }
  .whyDonate{
    padding: 100px 10px 30px 10px;
  }
  .imgSec{
    height: 400px;
  }
}
@media only screen and (max-width: 768px){
  .home{
    flex-direction: column-reverse;
    justify-content: center;
  }
  .left-section, .right-section{
    width: 90%;
    margin-right: 50px;
    padding-left: 10px;
  }
  .right-section svg{
    width: 70%;
    height: 400px;
  }
  .left-section{
    padding-left: 50px;
    padding-bottom: 40px;
  }
  .left-section h4{
    width: auto;
  }
  .left-section h1{
    font-size: 60px;
  }
  /* .whyDonate .row{
    justify-content: center;
  } */
  .imgSec{
    height: 450px;
  }
}
@media only screen and (max-width: 360px){
  .left-section h1{
    font-size: 50px;
  }
  .left-section a{
    text-align: center;
    display: block;
    width: auto;
  }
  .left-section .more{
    margin-left:0px;
    margin-top: 15px;
  }
}

/* last section and footer */
.cantain{
  width: 100%;
  height: 100px;
  background-color:red ;

}

.col-3 .layer{
border-radius: 10px;
border: 1px;
background-color: #FAFAFA;

}
.icon1,#address{
  color: red;
}
.icon2 ,.icon3{
  color: #96BB7C;
}
.top{
  top: -50%;
}

.w-65{
  width: 65%;
}
.w-10 {
  width: 15%;
}
