#registerLink{
  color: var(--main-color);
}
.arabic-content {
  direction: rtl;
  font-family: "Lateef", serif;
  font-size: x-large !important;
}
#loginButton{
    background-color:  var(--main-color);
}
#forgetPassword{
  text-decoration: none;
  color: var(--main-color);
}
.gradient-text {
  background: linear-gradient(180deg, #EA4444 19.27%, #5E0404 74.48%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.header{
  display: flex;
}
.header img{
  width: 70px;
}
.error-message{
  color:var(--main-color);

}
