<section>
  <div class="container p-5  d-flex justify-content-center align-content-center">
    <div class="p-5 m-5 w-75 ">
      <div class="header">
        <img src="assets/imgs/icon.ico" alt="Life Blood Image">
        <h2 class="gradient-text mt-3  ms-3">LIFEBLOOD</h2>
      </div>
      <p class="text-center h2">Welcome Back!</p>
    <p class="text-muted text-center lead h3 px-5 py-2 fs-4 ">To Our Secure online booking process .You can manage all your appointment
      details in one convenient place.
    </p>
    <input class="form-control mt-3 p-2" type="email" name="email" id="email" placeholder="Email"><br>
    <input class="form-control p-2" type="password" name="password" id="password" placeholder="password"><br>

    <div class="d-flex justify-content-between mx-2">
      <div>
        <input type="checkbox" name="rememberMe" id="rememberMe">
        <label class="ms-2" for="rememberMe">Remember Me</label>
      </div>
      <a id="forgetPassword" class="fw-bolder" href="">Forget Password?</a>
    </div><br>
    <button id="loginButton" class="form-control text-white p-2 fs-5 ">Log In</button><br>


    <p class="text-center text-muted lead fw-bold">Do not have an account? <a id="registerLink" routerLink="/signUp" class="fw-bold">Register Now</a></p></div>

  </div>
</section>
