#Profile .header img {
  width: 70px;
}
.gradient-text {
  background: linear-gradient(180deg, #EA4444 19.27%, #5E0404 74.48%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.locationIcon {
  vertical-align: -3px;
  color: #C0C0C0;
}
.btnLeft{
  border-radius: 15px 0px 0px 15px;
}
.btnRight{
  border-radius: 0px 15px 15px 0px;
}
.button1{
  background-color: var(--main-color);
  color: white;
  padding: 10px 80px;
  border: 1px solid var(--main-color);
}
.button2 {
  background-color: #D9D9D9;
  color: var(--main-color);
  padding: 10px 80px;
  border: 1px solid #D9D9D9;
}
.personalInfo p , .medicalInfo p{
  border: var(--main-color) 1px solid;
}
.medicalInfo{
  padding-bottom: 50px;
}
.header {
  display: flex;
}

.w-80 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

span , .ProfileInfo{
  color: var(--main-color);
}
#profileIcon{
  font-size: 100px;
  color: var(--main-color);
  margin-top: 50px;
  margin-bottom: 20px;
}
