<!-- <app-auth-nav></app-auth-nav> -->
<app-nav-bar></app-nav-bar>
<div class="container p-5 mt-2 mb-4" *ngIf="value">
  <h2 class="text-center h1 mb-5"><span>Our</span> Services</h2>
  <div class="row text-center gx-5">
    <div class="col my-2 " (click)="showService5()">
      <div class="bg-light p-3 card border-0 shadow">
        <div class="d-flex justify-content-center">
          <img class="w-50 "
          src="https://s3-alpha-sig.figma.com/img/e7ce/bb22/1601d16d9dc18a4d3ebe5ef180380b66?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=byvbMVhLNPAKCszbC0-6SYCzuT7MvsQ1Zf13UVdjQ-N3Ip7b9KtiXxuDJWNafx4uZqLDNxmCstBumXhziEB2hj~WoSMh59n-V57L5Ed5LcnkFPf-APpZav-yiaXagOmknbNLBVJMKSMTwWDR721TbJ9yv7vdFUpamcnJl53oUo4ygElDm32eZQzEQ5ZIfKpdfjSoPQi-1fTj2zNq0lc3yjpX3V8w4iw9Np2ZGxFr2mOCDsv8R4HmEhBWy-oXDm7JIfrd2YxSTVzGlQpZX4~QPelh-taZaH~T90wKsRVL5Hqh6Es-OYErd4mvUgSx5zvpbMwPaaqid9WEZc4PSQ3bzw__"
          alt="">
        </div>

        <h3 class="fs-3">Donate</h3>
        <p class="lead text-muted fs-4">You can Donate blood or Donate plasma</p>
      </div>
    </div>
    <div class="col my-2" (click)="showService4()">
      <div class="bg-light p-3 card border-0 shadow">
       <div class="d-flex justify-content-center">
        <img class="w-50 "
        src="https://clipartcraft.com/images/question-mark-transparent-symbol-7.png"
        alt="">

       </div>
        <h3 class="fs-3">Request</h3>
        <p class="lead text-muted fs-4">You can Request blood or Request plasma</p>
      </div>
    </div>
    <div (click)="showService1()" class="col my-2 ">
      <div class="bg-light p-3 card border-0 shadow">
        <div class="d-flex justify-content-center">
          <img class="w-50"
          src="https://s3-alpha-sig.figma.com/img/d646/0b99/5ebdb30e543a29975cb0de22e6e2b9ee?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BGqTIYjz1SZagm7qQ3ruDt1vc9a2AO48OoUJ1l6Fv693OQlRDZaAfTM1dao64PjgtPrnJhPm3KoV1F6gNQoaeRJJ5fkbr~cBZASCs8j7imV94rHsV9hls5eb1fbTVuLF8hSYOnTP64yzpltFTKz9wAaLfhYDkI356MAgUlAAoLZRqgKojt8kU-5jggbpB8R6pz-wMW53tHhGa2UsEZ1UchSwt~i~mX28mSPzeaSSsXYs4Xp-ciA-a1ya6K9dyd3z8S-v-MMHhBCk2fREE80lVyiJvSPaI0eswG0Ui9nd~BYbbZW0-g7yHOrq~eeFTNbjlLuElxQgTccOfyjjaoxTKg__"
          alt="">
        </div>
        <h3 class="fs-3">Blood Tests</h3>
        <p class="lead text-muted fs-4">we have more than one test to help you.</p>
      </div>
    </div>
    <div (click)="showService2()" class="col my-2">
      <div class="bg-light p-3 card border-0 shadow">
        <div class="d-flex justify-content-center mb-2">
          <img class="w-35"
          src="https://s3-alpha-sig.figma.com/img/c5f0/2010/4758ede2622f56c9047d2cfaf1744c5e?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=OtbM~K6oynpyL0il46axBUE26ECztFE~RJu9871bBQiMMbiQ4SFcaS1QzBjIkTcAu0jhmjnROv4s99F0A6vwVUWG74KCXKQi-MhHA3-h02k3gLVv7AfP2yQnbKYRdQ6ZeI4Wqj-HSMlv-upqr3aTtnmAvdzvaMxAl-BzrpPij2MPQ3CLekNUa1L8O17597eG14b4TB95bfpujngdzX81nGdhstQWXCNZPUTRusRVr1yi5F3ZbAFd~WN6Rt0mxSiALdjvqvUbefgCzKnCA~cV5vEbbeWb~R~mEc9F6rLxywpkJcup83aau2VUXTcCAJkzXF8VXq01w0CxfTNuCpdWsQ__"
          alt="">
        </div>
        <h3 class=" mt-1">BloodFilteration </h3>
        <p class="lead text-muted fs-4">you can filter your blood and Deto.xfication</p>
      </div>
    </div>
    <div (click)="showService3()" class="col my-2 ">
      <div class="bg-light p-3 card border-0 shadow">
        <div class="d-flex justify-content-center mb-1">
          <img class="w-48"
          src="https://s3-alpha-sig.figma.com/img/c4aa/ef2a/4ddc694dde065b4d0229317f3c1277ce?Expires=1715558400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=HL1WbYv3SK~j51v1rAqnEEB-DLxYbKJBEiaPF5Sob0ycAgyKuOcHZ0p2iK4QbbMRua2sXu3P56XIAqYQGeEhyb8efi8PvonNyO1lnZGlhJraVfY7LQVqIAA-0M6d0Vvcz-nIY1cketABZzMZujXoXDEo1ZdjrcdC1f90CV4XuNMjLmNRH193b-qxQ2dnHX~p2GvkFArJULkp3s6LKVIg3uzJuEdEJPba8Sdpl6oWM~Nkjbd5d1hy0iSfAHoTtcZ4eKIgAbJn7NSxGdmB7RyVkGIrfuZ6GvINMwpw9yUWu-dKwzm66xC0bVWmjKounNFJ0WAOpjtFMWVRwTGqfGOZHw__"
          alt="">
        </div>
        <h3>WashedRBCS</h3>
        <p class="lead text-muted fs-4">Washing away bad blood with clean blood.</p>
      </div>
    </div>
  </div>
</div>




<div *ngIf="num1 || num2 || num3 || num4 || num5 " class="container w-50 p-5 w-45">







  <form *ngIf="num1" class=" shadow-lg p-5 w-100  mb-5" id="Blood Tests" [formGroup]="bloodTestsForm" (ngSubmit)="submitForm3()">

    <h2 class="text-center fw-bold fs-1"><span>Blood</span> Tests</h2><br>

    <select formControlName="hospitalCenter" class="fs-5 w-100 p-2 ps-3 border-0 rounded bg-gray">
      <option selected hidden disabled value="">Select Hospital-Center</option>
      <option value="1">Hospital-1</option>
      <option value="2">Hospital-2</option>
      <option value="3">Hospital-3</option>
      <option value="4">Hospital-4</option>
      <option value="5">Hospital-5</option>
      <option value="6">Hospital-6</option>
    </select><br><br>




    <select formControlName="typeOfTest" class="fs-5 w-100 p-2 ps-3 border-0 rounded bg-gray">
      <option selected hidden disabled value="">Type of Test</option>
      <option value="1">Test1</option>
      <option value="2">Test2</option>
      <option value="3">Test3</option>
      <option value="4">Test4</option>
      <option value="5">Test5</option>
      <option value="6">Test6</option>
    </select><br><br>







    <input  class="fs-5 w-100 p-2 ps-3 bg-gray rounded border-0" formControlName="date" type="date" value="" ><br><br>


    <select formControlName="bloodType" class="fs-5 w-100 p-2 ps-3 border-0 rounded bg-gray">
      <option selected hidden disabled value="">Select Blood Type</option>
      <option value="1">A</option>
      <option value="2">B</option>
      <option value="3">O</option>
      <option value="4">AB</option>
      <option value="5">A+</option>
      <option value="6">B+</option>
    </select><br><br>


    <input  class="fs-5 w-100 p-2 ps-3 bg-gray rounded border-0" formControlName="nationalId" type="text" value="" placeholder="National Id"><br><br>






    <!-- <input class="fs-5 w-100 p-2 border-0 rounded bg-gray" placeholder="File" type="file" name="" id=""><br><br> -->


    <label for="file-upload" class="file-upload-label fs-5 w-37 p-2 border-0 bg-gray rounded">Upload your National
      ID</label>
    <input id="file-upload" name="ImageFile" class="file-upload-input w-100" type="file" formControlName="ImageFile"
      (change)="onFileSelected($event)">
    <br><br><br>


    <div class="d-flex justify-content-center  align-items-center mb-3">
      <input class="fs-5 px-sm-5 py-2 border-0  rounded submitBtn text-white  text-center" type="submit" value="Submit">
    </div>



    <div *ngIf="message" class="success-message  fs-5 p-2 text-center card border-0">{{ message }}</div>
    <div *ngIf="errorMessage" class="error-message  fs-5 p-2 text-center card border-0">{{ errorMessage }}</div>

  </form>







  <form *ngIf="num2" class="shadow-lg p-5 w-100 mb-5" id="Blood Filteration" [formGroup]="bloodFiltrationForm" (ngSubmit)="submitForm2()">

    <h2 class="text-center fw-bold fs-1"><span>Blood</span> Filtration</h2><br>

    <select formControlName="hospitalCenter" class="fs-5 w-100 ps-3 p-2 border-0 rounded bg-gray ">
      <option selected hidden disabled value="">Select Hospital-Center</option>
      <option value="1">Hospital-1</option>
      <option value="2">Hospital-2</option>
      <option value="3">Hospital-3</option>
      <option value="4">Hospital-4</option>
      <option value="5">Hospital-5</option>
      <option value="6">Hospital-6</option>
    </select><br><br>

    <select formControlName="bloodType" class="fs-5 w-100 ps-3 p-2 border-0 rounded bg-gray">
      <option selected hidden disabled value="">Select Blood Type</option>
      <option value="1">A</option>
      <option value="2">B</option>
      <option value="3">O</option>
      <option value="4">AB</option>
      <option value="5">A+</option>
      <option value="6">B+</option>
    </select><br><br>

    <select formControlName="testType" class="fs-5 w-100 ps-3 p-2 border-0 rounded bg-gray">
      <option selected hidden disabled value="">Type of Test</option>
      <option value="1">Test1</option>
      <option value="2">Test2</option>
      <option value="3">Test3</option>
      <option value="4">Test4</option>
      <option value="5">Test5</option>
      <option value="6">Test6</option>
    </select><br><br>

    <input class="fs-5 w-100 ps-3 p-2 bg-gray rounded border-0" type="date" formControlName="date"><br><br>

    <input class="fs-5 w-100 ps-3 p-2 bg-gray rounded border-0" type="text" formControlName="nationalId"
      placeholder="NationalId"><br><br>

    <label for="file-upload" class="file-upload-label fs-5 w-37 p-2 border-0 bg-gray rounded">Upload your National
      ID</label>
    <input id="file-upload" name="ImageFile" class="file-upload-input w-100" type="file"
      formControlName="ImageFile" (change)="onFileSelected($event)">
    <br><br><br>

    <div class="d-flex justify-content-center align-items-center  mb-3">
      <input class="fs-5 px-5 py-2 border-0  rounded submitBtn text-white  text-center" type="submit" value="Submit">
    </div>


    <div *ngIf="message" class="success-message  fs-5 p-2 text-center card border-0">{{ message }}</div>
    <div *ngIf="errorMessage" class="error-message  fs-5 p-2 text-center card border-0">{{ errorMessage }}</div>

  </form>







<form *ngIf="num3" class="shadow-lg p-5 w-100 mb-5" id="WashedRBCS" [formGroup]="washedRbcsForm"
  (ngSubmit)="submitForm()">
  <h2 class="text-center fw-bold fs-1"><span>Washed</span> RBCS</h2><br>

  <select class="fs-5 w-100 ps-4 p-2 border-0 rounded bg-gray" formControlName="hospitalCenter">
    <option selected hidden disabled value="">Select Hospital-Center</option>
    <option value="Hospital-1">Hospital-1</option>
    <option value="Hospital-2">Hospital-2</option>
    <option value="Hospital-3">Hospital-3</option>
    <option value="Hospital-4">Hospital-4</option>
    <option value="Hospital-5">Hospital-5</option>
    <option value="Hospital-6">Hospital-6</option>
  </select><br><br>

  <input class="fs-5 w-100 ps-4 p-2 bg-gray rounded border-0" type="date" formControlName="date"><br><br>

  <select class="fs-5 w-100 p-2 ps-4 border-0 rounded bg-gray" formControlName="bloodType">
    <option selected hidden disabled value="">Select Blood Type</option>
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="O">O</option>
    <option value="AB">AB</option>
    <option value="A+">A+</option>
    <option value="B+">B+</option>
  </select><br><br>

  <div class="d-flex justify-content-between">
    <div class="ms-2 fs-5"><label for="">Do you Have Blood Bag ?</label></div>
  <div>
    <input class="me-2 fs-5" type="radio" formControlName="hasBloodBag" id="answerYes" value="yes">
    <label class="me-5 fs-5" for="answerYes">YES</label>
    <input class="me-2 fs-5" type="radio" formControlName="hasBloodBag" id="answerNo" value="no">
    <label class="fs-5" for="answerNo">NO</label>
  </div>
  </div><br>

  <div class="d-flex justify-content-center align-items-center mb-3">
    <input class="fs-5 px-5 py-2 border-0 rounded submitBtn text-white text-center" type="submit" value="Submit">
  </div>





  <div *ngIf="message" class="success-message  fs-5 p-2 text-center card border-0">{{ message }}</div>
  <div *ngIf="errorMessage" class="error-message  fs-5 p-2 text-center card border-0">{{ errorMessage }}</div>
</form>





<app-request-donation *ngIf="num4"></app-request-donation>
<app-donation *ngIf="num5"></app-donation>

</div>





<app-footer></app-footer>

