<app-auth-nav></app-auth-nav>

<div class="container p-5 mt-2 mb-4" *ngIf="loginSuccess || value">
  <h2 class="text-center h1 mb-5"><span class="text-danger">Our</span> Services</h2>
  <div class="row text-center gx-5">
    <div class="col my-2 " (click)="showService5()">
      <div class="bg-light p-3 card border-0 shadow">
        <div class="d-flex justify-content-center">
          <img class="w-50 "
          src="https://s3-alpha-sig.figma.com/img/e7ce/bb22/1601d16d9dc18a4d3ebe5ef180380b66?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=eX7gYZ9dT3rvds6EAMu3q9oOudDmIOowBuvRmOzh3AmwSUm14KnRrfEcJ22lVUXVIpNSArn0eJFOV58696D78CPN0tsMJlgRzJlVLzk4RbaV5-r0Ye58AlqA7hzImanEHBsNhog~60cYBlSf1HVuOiTPH5wVT1MO0anx~lGNRSwJau~7Q3LoiBd-P0pLFr1UbzvJLZ179m1HnAB97H~9Y3A~Ur9yDb0cIfFsPSMLx~8i7t8XOBoQl6E4v7aJ7rmp4PW2GAhddAatFtP6EjrT1Q8rqXlapMLeGWv65EVNE4Jl7YYh9awMqC9K1BDRNg~EyJcuFl2BNC40~B7~J3tvVw__"
          alt="">
        </div>

        <h3>Donate</h3>
        <p class="lead text-muted">You can Donate blood or plasma</p>
      </div>
    </div>
    <div class="col my-2" (click)="showService4()">
      <div class="bg-light p-3 card border-0 shadow">
       <div class="d-flex justify-content-center">
        <img class="w-50 "
        src="https://s3-alpha-sig.figma.com/img/e7ce/bb22/1601d16d9dc18a4d3ebe5ef180380b66?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=eX7gYZ9dT3rvds6EAMu3q9oOudDmIOowBuvRmOzh3AmwSUm14KnRrfEcJ22lVUXVIpNSArn0eJFOV58696D78CPN0tsMJlgRzJlVLzk4RbaV5-r0Ye58AlqA7hzImanEHBsNhog~60cYBlSf1HVuOiTPH5wVT1MO0anx~lGNRSwJau~7Q3LoiBd-P0pLFr1UbzvJLZ179m1HnAB97H~9Y3A~Ur9yDb0cIfFsPSMLx~8i7t8XOBoQl6E4v7aJ7rmp4PW2GAhddAatFtP6EjrT1Q8rqXlapMLeGWv65EVNE4Jl7YYh9awMqC9K1BDRNg~EyJcuFl2BNC40~B7~J3tvVw__"
        alt="">

       </div>
        <h3>Request</h3>
        <p class="lead text-muted">You can Request blood or plasma</p>
      </div>
    </div>
    <div (click)="showService1()" class="col my-2 ">
      <div class="bg-light p-3 card border-0 shadow">
        <div class="d-flex justify-content-center">
          <img class="w-50"
          src="https://s3-alpha-sig.figma.com/img/d646/0b99/5ebdb30e543a29975cb0de22e6e2b9ee?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=BRk6cwrqVm6HffqHmLG2jc6iGSgE-BAzt23ddNvHRtxNmLxGKhUq3czHSPL4lskjEDpWGG50-MC89lfpx5VGCU3ehJR4mf0d7Ju6pZXwAK0bMCTqZaYXWyo9U5agk-eg0BBHL1X1GvgnsfBJLu7imQIalg5cTEW7~1NUHeEPEXgbHK9zxHTuseRhZax51OigSxsdIbjP7cL1o0WyWMpyLsOuDEyThDo3aU8ltsa3yo5g2Gy3rWQtTPkcOY0KNfxxBisbHkMmMoQB8z9QQhPm3ACvaSUhNrtpQN9WZg-Kf0Mz7j5d7jOW7l6fxCNwvbeBXQz3mLJbBzUAvPtzwN2yUA__"
          alt="">
        </div>
        <h3>Blood Tests</h3>
        <p class="lead text-muted">we have more than one test to help you.</p>
      </div>
    </div>
    <div (click)="showService2()" class="col my-2">
      <div class="bg-light p-3 card border-0 shadow">
        <div class="d-flex justify-content-center">
          <img class="w-50"
          src="https://s3-alpha-sig.figma.com/img/c5f0/2010/4758ede2622f56c9047d2cfaf1744c5e?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ILhwWuvLuJx4XOYeCxbFoKA4N3rqJzfiIxXz7I1pUZvAAOfF3Dw6rLwmVjPX5yJ31peJ5TIdExBouCox7AZ0ilk~lbLND2WyLMzEymdsb09P1XQBt9Uu8XVpQtdi7ywDNVD3dUQ2ZrFgk3AZVGBnhlAS~HZkANxobYDov5MGL1oRlx8mcj5QUDK7O2F6f~0~H9QIYdkgoOdS1kGGdXfePbG0JdWhP1w4yGkMU7gvqkrpst~8IPD8AP2YwuV2mUjj1p-2G3PXWnEwGY5rJ8tQtCj2me0x4uW5O9PO~I61EmdB~O95A9qRMsMCdyevUi4Z8aaUCritIZihsVhgSjibNw__"
          alt="">
        </div>
        <h3>Blood Filteration </h3>
        <p class="lead text-muted">you can filter your blood and Deto.xfication</p>
      </div>
    </div>
    <div (click)="showService3()" class="col my-2 ">
      <div class="bg-light p-3 card border-0 shadow">
        <div class="d-flex justify-content-center">
          <img class="w-50"
          src="https://s3-alpha-sig.figma.com/img/c4aa/ef2a/4ddc694dde065b4d0229317f3c1277ce?Expires=1713139200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GIpbe-ULZit~wtoKwt~KcJh6Eb1Imu7LHAAc9yH1UzZeLSDNqQjukCrrd7Yq5xedsoCBAXkwRaBKK25MqWqVvk8-yZaN~a1Yw~RoZs9XIDeYo4aMyw9uqoo74H2AbnqrBxW7jqkRrG7vuXAsubgVS~SmlFAlKrqHKXCRrGtKsSeaXxi-bOe9NgbLAHL216LitAMoh1fKAQGXQBPG5~2~pb-B7AmEOGNAsjWTGdY36tLGXc0cXV4ZYCnxvPVSzQZjW2rsdRCJti3dzYYR9O0p6lOfLR~dPcpwqblXj0A6L-BPtD15iPSfGRDYwVTpgC-fozclYYRXScPf-yRjj9x7yA__"
          alt="">
        </div>
        <h3>Washed RBCS</h3>
        <p class="lead text-muted">Washing away bad blood with clean blood.</p>
      </div>
    </div>
  </div>
</div>




<div *ngIf="num1 || num2 || num3 || num4 || num5 " class="container w-50 p-5 w-45">



  <form *ngIf="num1" class="bg-light shadow p-3 w-100  mb-5" id="Blood Tests">

    <h2 class="text-center fw-bold"><span class="text-danger">Blood </span> <span>Tests</span></h2><br>

    <select class="fs-5 w-100 p-2 ps-3 border-0 rounded bg-gray">
      <option selected hidden disabled value="">Select Hospital-Center</option>
      <option value="1">Hospital-1</option>
      <option value="2">Hospital-2</option>
      <option value="3">Hospital-3</option>
      <option value="4">Hospital-4</option>
      <option value="5">Hospital-5</option>
      <option value="6">Hospital-6</option>
    </select><br><br>




    <input class="fs-5 w-100 p-2 ps-3 bg-gray rounded border-0" type="date" value="" placeholder="0000000"><br><br>




    <select class="fs-5 w-100 p-2 ps-3 border-0 rounded bg-gray">
      <option selected hidden disabled value="">Select Blood Type</option>
      <option value="1">A</option>
      <option value="2">B</option>
      <option value="3">O</option>
      <option value="4">AB</option>
      <option value="5">A+</option>
      <option value="6">B+</option>
    </select><br><br>




    <select class="fs-5 w-100 p-2 ps-3 border-0 rounded bg-gray">
      <option selected hidden disabled value="">Type of Test</option>
      <option value="1">Test1</option>
      <option value="2">Test2</option>
      <option value="3">Test3</option>
      <option value="4">Test4</option>
      <option value="5">Test5</option>
      <option value="6">Test6</option>
    </select><br><br>



    <!-- <input class="fs-5 w-100 p-2 border-0 rounded bg-gray" placeholder="File" type="file" name="" id=""><br><br> -->


    <label for="file-upload" class="file-upload-label fs-5 w-37 p-2 border-0 bg-gray rounded ">Upload your National
      ID</label>
    <input id="file-upload" class="file-upload-input w-100" type="file" (change)="onFileSelected($event)"><br><br><br>



    <div class="d-flex justify-content-center  align-items-center">
      <input class="fs-5 px-sm-5 py-2 border-0  rounded bg-danger text-white  text-center" type="submit" value="Submit">
    </div>




  </form>




  <form *ngIf="num2" class="bg-light shadow p-3 w-100 mb-5" id="Blood Filteration">

    <h2 class="text-center fw-bold"><span class="text-danger">Blood </span><span> Filteration</span></h2><br>

    <select class="fs-5 w-100 ps-3 p-2 border-0 rounded bg-gray">
      <option selected hidden disabled value="">Select Hospital-Center</option>
      <option value="1">Hospital-1</option>
      <option value="2">Hospital-2</option>
      <option value="3">Hospital-3</option>
      <option value="4">Hospital-4</option>
      <option value="5">Hospital-5</option>
      <option value="6">Hospital-6</option>
    </select><br><br>




    <input class="fs-5 w-100 ps-3 p-2 bg-gray rounded border-0" type="date" value="" placeholder="0000000"><br><br>




    <select class="fs-5 w-100 ps-3 p-2 border-0 rounded bg-gray">
      <option selected hidden disabled value="">Select Blood Type</option>
      <option value="1">A</option>
      <option value="2">B</option>
      <option value="3">O</option>
      <option value="4">AB</option>
      <option value="5">A+</option>
      <option value="6">B+</option>
    </select><br><br>




    <select class="fs-5 w-100 ps-3 p-2 border-0 rounded bg-gray">
      <option selected hidden disabled value="">Type of Test</option>
      <option value="1">Test1</option>
      <option value="2">Test2</option>
      <option value="3">Test3</option>
      <option value="4">Test4</option>
      <option value="5">Test5</option>
      <option value="6">Test6</option>
    </select><br><br>



    <!-- <input class="fs-5 w-100 p-2 border-0 rounded bg-gray" placeholder="File" type="file" name="" id=""><br><br> -->


    <label for="file-upload" class="file-upload-label fs-5 w-37 p-2 border-0 bg-gray rounded ">Upload your National
      ID</label>
    <input id="file-upload" class="file-upload-input w-100" type="file" (change)="onFileSelected($event)"><br><br><br>



    <div class="d-flex justify-content-center  align-items-center">
      <input class="fs-5 px-5 py-2 border-0  rounded bg-danger text-white  text-center" type="submit" value="Submit">
    </div>




  </form>





  <form *ngIf="num3" class="bg-light shadow p-3 w-100 mb-5" id="Washed RBCS">

    <h2 class="text-center fw-bold"><span class="text-danger">Washed </span> <span>RBCS</span></h2><br>

    <select class="fs-5 w-100 ps-4 p-2 border-0 rounded bg-gray">
      <option selected hidden disabled value="">Select Hospital-Center</option>
      <option value="1">Hospital-1</option>
      <option value="2">Hospital-2</option>
      <option value="3">Hospital-3</option>
      <option value="4">Hospital-4</option>
      <option value="5">Hospital-5</option>
      <option value="6">Hospital-6</option>
    </select><br><br>




    <input class="fs-5 w-100 ps-4 p-2 bg-gray rounded border-0" type="date" value="" placeholder="0000000"><br><br>




    <select class="fs-5 w-100 p-2 ps-4 border-0 rounded bg-gray">
      <option selected hidden disabled value="">Select Blood Type</option>
      <option value="1">A</option>
      <option value="2">B</option>
      <option value="3">O</option>
      <option value="4">AB</option>
      <option value="5">A+</option>
      <option value="6">B+</option>
    </select><br><br>




    <div class="d-flex justify-content-between">
      <div class="ms-2 fs-5"><label for="">Do you Have Blood Bag ?</label></div>



      <div>
        <input class="me-2 fs5" type="checkbox" name="answerYes" id="answerYes">
        <label class="me-5 fs-5" for="answerYes">YES</label>
        <input class="me-2 fs-5" type="checkbox" name="answerNo" id="answerNo">
        <label class="fs-5" for="answerNo">NO</label>

      </div>
    </div><br>






    <div class="d-flex justify-content-center  align-items-center">
      <input class="fs-5 px-5 py-2 border-0  rounded bg-danger text-white  text-center" type="submit" value="Submit">
    </div>




  </form>

<app-request-donation *ngIf="num4"></app-request-donation>
<app-donation *ngIf="num5"></app-donation>

</div>





<app-footer></app-footer>

