body {
  font-family: "Gotham Book", Open Sans, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d9d9d9;
  font-size: 100%;
}
.arabic-content{
  direction: rtl;
  font-family: 'Arial', sans-serif;
}
.w-35{
  width: 35%;
}

span{
  color: var(--main-color);
}
.w-48{
  width: 48%;
}

.submitBtn{
  background-color: var(--main-color);
}


.success-message {
  background-color: #DFF0D8;
  color: #3C763D;
}

.error-message {
  background-color: #F2DEDE;
  color: var(--main-color);
}




.w-45{

  width: 45%;

}
.w-37{

  width: 36.5%;

}

.bg-gray{
  background-color:  #D9D9D966;
}




.file-upload-label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid var(--main-color);

}
h3{
  color: var(--main-color);
}

.file-upload-input {

  position: relative;
  opacity: 0;
  z-index: -1;
}











