@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
body{
  /* margin: 0px; */
  width: 100%;
  font-family: "Playfair Display", serif !important;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;

}
:root {
  --main-color:  #BA1816;
  --background-color: #E74040;
  --lighterGrey : #fff6f6d3;
  --plasma:#FDC500;
}
.PlasmaTitle{
  color:var(--plasma);
}
.BloodTitle{
  color:var(--main-color)
}
