<!-- resetPassword.component.html -->
<section>
  <div class="container p-5 d-flex justify-content-center align-content-center">
    <div class="p-5 m-5 w-75">
      <div class="header">
        <img src="assets/imgs/icon.ico" alt="Life Blood Image">
        <h2 class="gradient-text mt-3 ms-3">Health Hub</h2>
      </div>
      <p class="text-center h2 p-4">Reset Password</p>

      <!-- error -->
      <!-- <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div> -->

      <!-- enter code -->
      <form>
        <input class="form-control mt-3 p-2 rounded-3 fs-5" type="password" formControlName="token" placeholder="New Password"
          required><br>

        <input class="form-control mt-3 p-2 rounded-3 fs-5" type="password" formControlName="token" placeholder="Confirm Password"
          required><br>

        <button id="restButton" class="form-control text-white p-1 fs-5 rounded-3" type="submit">Reset</button><br>
        <button id="backLoginButton" class="form-control rounded-3  p-1  fs-5" (click)="backLogin()">Back to Log in</button><br>
      </form>
    </div>
  </div>
</section>
