.gradient-text {
  background: linear-gradient(180deg, #EA4444 19.27%, #5E0404 74.48%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.header{
  display: flex;
}
.header img{
  width: 70px;
}
.error-message{
  color:red;

}
#restButton{
  background-color: #EA4444;
}
#backLoginButton{
  color: red;
  border-color: red;

}
input{
  background-color:#B6E1F92E ;
}

input::placeholder{
  color: rgba(128, 128, 128, 0.675);
}
